.navbar {
  height: 94px;
  z-index: 999;
  display: flex;
  align-items: center;
  // justify-content: center;
  background: var(--black);
  border-bottom: 2px solid rgb(141, 1, 1);

  .container {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;

    .left {
      img {
        display: flex;
        width: 200px;
        height: 90px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
      }
    }
    .right {
      button {
        background-color: transparent;
        color: white;
        border: 1px solid rgb(243, 240, 240);
        box-sizing: border-box;
        cursor: pointer;
        padding: 16px 24px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        outline: none;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        transition: opacity 0.3s;

        &:hover,
        &:focus {
          opacity: 0.5;
        }
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .navbar {
    // background-color: brown;
    .container {
      // background-color: aqua;
      .left {
        img {
          width: 130px;
          height: 30px;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
        }
      }

      .right {
        button {
          color: rgb(76, 133, 246);
          border: none;
          box-sizing: border-box;
          cursor: pointer;
          padding: 14px 16px;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          outline: none;
          border-radius: 5px;
          text-decoration: none;
          display: inline-block;
          transition: opacity 0.3s;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    .container {
      .left {
        img {
          width: 100px;
          height: 20px;
        }
      }

      .right {
        button {
          padding: 8px;
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}
